<div class="container-fluid">
<div class="card">
    <div class="header">
     
    </div>
    <div class="content">                           
            <form>
                <h4 class="title">Team Driving</h4>
                <div class="row" >
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Order</label>
                            <input type="text" class="form-control border-input" disabled placeholder="Company" value="54321">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Source</label>
                            <input type="text" class="form-control border-input" placeholder="Source" value="30736 WIEGMAN RD,Hayward,CA,USA">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Destination</label>
                            <input type="text" class="form-control border-input" placeholder="Destination" value="660 WEST FIELD RD,South San Francisco,CA,USA">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Equipment Type</label>
                            <input type="text" class="form-control border-input" placeholder="Company" value="Dry Van">
                        </div>
                   </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Commodity</label>
                            <input type="text" class="form-control border-input" placeholder="Commodity" value="Electronics">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Miles</label>
                            <input type="text" class="form-control border-input" placeholder="Miles" value="91.9Mi">
                        </div>
                    </div>                                
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Primary Driver</label>
                            <input type="text" class="form-control border-input" placeholder="Driver" value="John Thomas">
                        </div>
                    </div>
                    </div>
                

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>PickUp Time</label>
                            <input type="text" class="form-control border-input" placeholder="PickUp Time" value="2017-12-08 17:55:15.32">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Dispatch Time</label>
                            <input type="text" class="form-control border-input" placeholder="Dispatch" value="2017-12-08 19:00:15.32">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Delivery Time</label>
                            <input type="text" class="form-control border-input" placeholder="Dispatch" value="2017-12-09 19:00:15.32">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Rates</label>
                            <input type="text" class="form-control border-input" placeholder="Rates" value="$40">
                        </div>
                    </div>
                </div>
             
                <div class="text-center">
                        <button type="submit" class="btn btn-success" ng-click="btnClick();">Accept</button>
                        <button type="submit" class="btn btn-danger" ng-click="btnClick();">Reject</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>

      
</div>
</div>


